html,body {
    background-color: #2f4f4f;
    color: #fafad2;
    font-family: 'VicCitySans', Arial, Helvetica, sans-serif;
}
a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Rimouski', Arial, Helvetica, sans-serif;
}
a:hover {
    color: whitesmoke;
    text-decoration: underline;
}
header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
header h1 {
    display: inline-flex;
    margin: 0.1em;
    padding: 0em;
    font-size: 2em;
}
footer {
    font-size: 0.75em;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
}
nav a {
    margin: 0.5em;
    padding: 0.2em;
}
b.null {
    font-weight: normal;
}
.null::before{
    content: '';
    display: inline-block;
    background-image: url(../images/favicon/android-icon-36x36.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 0.75em;
    height: 0.75em;
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.15em;
}