html,body {
    background-color: #2f4f4f;
    color: #fafad2;
    font-family: 'VicCitySans', Arial, Helvetica, sans-serif;
}
a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Rimouski', Arial, Helvetica, sans-serif;
}
a:hover {
    color: whitesmoke;
    text-decoration: underline;
}
nav a:hover {
    color: #98ed8a;
    text-decoration-color: darkorange;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
}
header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 0.95em;
}
@media( min-width: 1000px){
    header {
        flex-direction: row;
        font-size: 1.15em;
    }
}
header h1 {
    display: inline-flex;
    margin: 0.1em;
    padding: 0em;
    font-size: 2em;
}
footer {
    font-size: 0.75em;
}
nav a[target="_blank"]:hover {
    /*color: #ff3bff;*/
    color: darkorange;
    text-decoration-color: #98ed8a;
}
nav a[target="_blank"]:before,
nav a[target="_blank"]:after{
    color: #98ed8a;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    flex-wrap: wrap;
}
nav a {
    margin: 0.5em;
    padding: 0.2em;
}
nav a::before,
nav a::after{
    display: inline-block;
    font-size: 0.5em;
    margin: 0.5em;
    opacity: 0.5;
    color: darkorange;
    transform: translateY(-0.2em);
}
nav a:hover:before,
nav a:hover:after{
    opacity: 1;
}
nav a::before{
    content: "~{";
}
nav a::after{
    content: "}~";
}
.null {
    white-space: nowrap;
    color: #98ed8a;
}

b.null {
    font-weight: normal;
}
.null::before{
    content: '';
    display: inline-block;
    background-image: url(../images/null\ icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 0.75em;
    height: 0.75em;
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.15em;
}
@media( min-width:600px){
    header {
        padding: 2vw;
    }
    section {
        font-size: 1.25em;
        columns: 250px;
        column-gap: 3em;
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3em;
        padding-right: 3em;
        max-width: 100vh;
    }
    section h1 {
        column-span: all;
    }
    footer {
        display: flex;
        align-content: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 2em;
        background-color: darkslategray;
        z-index: 100;
    }
    footer nav {
        width: 100%;
        align-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    p {
        margin-top: 0px;
    }
    p:first-of-type:first-letter{
        font-weight: bold;
        font-size: 2em;
        float: left;
        margin-top: 0.1em;
        margin-right: 0.3em;
        margin-bottom: 0.2em;
        color: darkorange;
    }
    header .null::before{
        width: 2em;
        height: 2em;
        margin-top: -0.4em;
        margin-left: -0.4em;
        margin-right: 0.15em;
    }
    footer {
        font-size: 1em;
    }
}
