body.app {
    display: grid;
    grid-template-rows: 4em auto 5em;
    grid-gap: 0.1em 0em;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    height: 100vh;
    width: 100vw;
    margin: 0em;
    padding: 0em;
}
header {
    grid-area: header;
    padding: 0.25em;
    padding-left: 1em;
}
main {
    grid-area: body;
    height: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
footer {
    grid-area: footer;
    position: relative;
}
