@import url(fonts.css);
body {
    background-color: darkslategray;
    font-family: 'Rimouski', Arial, Helvetica, sans-serif;
}
a[href="#login"],
a[href="#signup"],
div[user_id="0"] a[href="#logout"] {
    display: none;
}
div[user_id="0"] a[href="#login"],
div[user_id="0"] a[href="#signup"],
a[href="#logout"] {
    display: inline-block;
}
h1 {
    font-family:  Arial, Helvetica, sans-serif;
}
header {
    height: 15em;
}
#sections {
    max-width: 100vw;
    display: grid;
    /*grid-template-columns: 10vw 90vw;*/
    grid-gap: 0em 5em;
    grid-template-areas: 
        "rooms"
        "details";
}
#sections section#rooms{
    grid-area: rooms;
}
#sections section{
    grid-area: details;
}
@media( min-width:1800px){
    #sections {
        max-width: 100vw;
        max-height: 75vh;
        display: grid;
        grid-template-columns: 12vw 82vw;
        grid-template-rows: 75vh;
        grid-template-areas: 
            "rooms details";
    }
    header {
        height: 20vh;
    }
    footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 5vh;
    }
    footer nav {
        display: none;
    }
}