<div id="clock" time="1:23" time_of_day="day" day="mon" class="clock">
    <div class="sky">
        <div id="sun_holder" style="transform: rotate(-50deg);"><div class="sun"></div></div>
        <div id="moon_holder" style="transform: rotate(-50deg);"><div class="moon"><div class="disc"></div></div></div>
        <div class="clouds"></div>
        <div class="current_weather" var="icon" icon=""></div>
    </div>
    <div var="time" unit="am"></div>
    <div class="temp outdoors NullWeather" var="temp" unit="fahrenheit"></div>
    <div var="day_of_week"></div>
    <div class="slideshow" var="date"></div>
    <div class="slideshow" var="sunrise"></div>
    <div class="slideshow" var="sunset"></div>
    <div class="temp extra NullWeather" var="feels_like" unit="fahrenheit"></div>
    <div class="humidity extra NullWeather" var="humidity" unit="percent"></div>
    <div class="wind extra NullWeather" var="wind_speed" unit="MetersPerSeconds"></div>
    <div class="description extra NullWeather" var="description"></div>
    <div class="temp_chart outdoors simple NullWeather">
        <div class="time_bar"></div>
        <div class="hour" hour="00"></div>
        <div class="hour" hour="01"></div>
        <div class="hour" hour="02"></div>
        <div class="hour" hour="03"></div>
        <div class="hour" hour="04"></div>
        <div class="hour" hour="05"></div>
        <div class="hour" hour="06"></div>
        <div class="hour" hour="07"></div>
        <div class="hour" hour="08"></div>
        <div class="hour" hour="09"></div>
        <div class="hour" hour="10"></div>
        <div class="hour" hour="11"></div>
        <div class="hour" hour="12"></div>
        <div class="hour" hour="13"></div>
        <div class="hour" hour="14"></div>
        <div class="hour" hour="15"></div>
        <div class="hour" hour="16"></div>
        <div class="hour" hour="17"></div>
        <div class="hour" hour="18"></div>
        <div class="hour" hour="19"></div>
        <div class="hour" hour="20"></div>
        <div class="hour" hour="21"></div>
        <div class="hour" hour="22"></div>
        <div class="hour" hour="23"></div>
    </div>
    <div class="temp_chart indoors simple NullSensors" collection="indoor_temperature" room_id="all">
        <div class="time_bar"></div>
        <div class="hour" hour="00"></div>
        <div class="hour" hour="01"></div>
        <div class="hour" hour="02"></div>
        <div class="hour" hour="03"></div>
        <div class="hour" hour="04"></div>
        <div class="hour" hour="05"></div>
        <div class="hour" hour="06"></div>
        <div class="hour" hour="07"></div>
        <div class="hour" hour="08"></div>
        <div class="hour" hour="09"></div>
        <div class="hour" hour="10"></div>
        <div class="hour" hour="11"></div>
        <div class="hour" hour="12"></div>
        <div class="hour" hour="13"></div>
        <div class="hour" hour="14"></div>
        <div class="hour" hour="15"></div>
        <div class="hour" hour="16"></div>
        <div class="hour" hour="17"></div>
        <div class="hour" hour="18"></div>
        <div class="hour" hour="19"></div>
        <div class="hour" hour="20"></div>
        <div class="hour" hour="21"></div>
        <div class="hour" hour="22"></div>
        <div class="hour" hour="23"></div>
    </div>
    <div class="temp indoors NullSensors" var="temp" unit="fahrenheit"></div>
    <div class="humidity indoors NullSensors" var="hum" unit="percent"></div>
</div>