.room.card h1 {
    white-space: nowrap;
}

.room.card h1 span {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    white-space: nowrap;
}
.room.card .time_sensors {
    display: none;
}
.NullLights .room.card .time_sensors,
.app .room.card .time_sensors {
    display: inline-block;
}
[var="IsDayTime"][val="1"],
[var="IsDayTime"][val="0"],
[var="IsDayInside"][val="1"],
[var="IsDayInside"][val="0"],
[var="IsTimeToGetUp"][val="1"],
[var="IsTimeToGetUp"][val="0"],
[var="IsBedtimeHours"][val="1"],
[var="IsBedtimeHours"][val="0"],
[var="IsTimeForBed"][val="1"],
[var="IsTimeForBed"][val="0"]{
    width: 0.75em;
    height: 1em;
}

[var="IsTimeForBed"][val="0"]{
    background-image: url(/images/sensors/IsTimeForBedFalse.png);
}
[var="IsTimeForBed"][val="1"]{
    background-image: url(/images/sensors/IsTimeForBedTrue.png);
}
[var="IsBedtimeHours"][val="0"]{
    background-image: url(/images/sensors/IsBedtimeHoursFalse.png);
}
[var="IsBedtimeHours"][val="1"]{
    background-image: url(/images/sensors/IsBedtimeHoursTrue.png);
}
[var="IsTimeToGetUp"][val="0"]{
    background-image: url(/images/sensors/IsTimeToGetUpFalse.png);
}
[var="IsTimeToGetUp"][val="1"]{
    background-image: url(/images/sensors/IsTimeToGetUpTrue.png);
}

[var="IsDayInside"][val="0"]{
    background-image: url(/images/sensors/IsDayInsideFalse.png);
}
[var="IsDayInside"][val="1"]{
    background-image: url(/images/sensors/IsDayInsideTrue.png);
}
[var="IsDayTime"][val="0"]{
    background-image: url(/images/sensors/IsDayTimeFalse.png);
}
[var="IsDayTime"][val="1"]{
    background-image: url(/images/sensors/IsDayTimeTrue.png);
}

