@media( max-width:600px) {
    main section#floors,
    main section#info[collection="meal_plan"],
    main div.weather_stamp {
        display: none;
    }

    main[view="weather"] section#rooms_list,
    main[view="weather"] div#clock{
        display: none;
    }
    main[view="rooms"] section#floors,
    main.show_details[view="rooms"] div#clock{
        display: none !important;
    }

    main[view="rooms"] section#rooms_list{
        display: block;
    }
    main[view="rooms"] div#clock{
        display: grid;
    }

    main[view="rooms"] section#rooms_list ul[collection="rooms"]{
        max-height: 60vh !important;
        max-width: none !important;
    }
    
    main[view="meal"] section.meal_details,
    main[view="meal"] div#clock {
        display: none !important;
    }
    main[view="meal"] section#info[collection="meal_plan"],
    main[view="meal"] section#info[collection="meal_plan"] [day="today"]{
        display: block;
    }
    main[view="floors"] section#floors {
        display: flex !important;
    }

    main[view="weather"] section#weather div.weather_chart {
        height: 25em;
    }
}
