footer {
    font-size: 0.75em;
}
@media( min-width:600px){
    footer {
        display: flex;
        align-content: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 2em;
        z-index: 100;
        background-color: var(--footer);
        font-size: 1em;
    }
    footer nav {
        width: 100%;
        align-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    .contents{
        margin-bottom: 20em;
    }
}
